.wc-block-checkout__add-terms-and-conditions {
	margin: em($gap-large) 0 em($gap-large) 9px;
}

.is-mobile,
.is-small,
.is-medium {
	.wc-block-checkout__add-terms-and-conditions {
		@include with-translucent-border(1px 0);
		margin-bottom: em($gap);
		margin-top: em($gap);
		padding: em($gap) 0;
	}
}

.wc-block-checkout__add-terms-and-conditions .wc-block-components-textarea {
	margin-top: $gap;
}

.wc-block-checkout__order-terms-and-conditions.wc-block-components-checkout-step {
	padding-left: 0;
}
